/* universal selector */
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing:border-box;
}
/* name selector */
body{
    background-color: red;
}
#admin-box {
    width: 500px;
    background-color: maroon;
    margin: 10% auto;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
/* decedent selector */
#admin-box image {
    width: 100px;
    display: block;
    margin: auto
}
#admin-box h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin-bottom: 20px;
}
/* group selector */
input, label {
    display: block;
    width: 90%;
    margin: auto;
}
label {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding: 10px 0px;
}
input {
    padding: 10px;
    background-color: red;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
input::placeholder {
    color: white;
}
input[type="submit"] {
    margin: 10px 10px 10px 22px;
    text-transform: uppercase;
    font-weight: bold;
    transition: ease-in-out 0.4s;

}
input[type="submit"]:hover {
    background-color: white;
    color: red;
}
.pg {
    font-family: Arial, Helvetica, sans-serif;
    margin-top:10px;
    font-size: 16px;
    color: white;

}
.pg a {
    color: red;
    text-decoration: none;
}